@import "sass-essentials";

.heading {
  &--title {
    @include visually-hidden();
  }
  &--logo {
    display: block;
    margin: 2.4rem auto;
    width: 60%;
    max-width: 270px; // original: 560px
    max-height: 45px; // original: 120px
    fill: color-grays('black');
  }
}
